*{
    margin: 0;
    padding: 0;
}
header, main{
    margin: 0 130px;
}
.container{
    height: 600px;
    width: 100%;
    margin: auto;
    border-radius: 16px;
}
/* Banner section */
#banner-section{
    margin-top: 50px;
}
.background{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url("BannerImage.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-content{
    padding: 200px 300px 180px;
    /* margin: auto; */
}
.banner-content h4{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 5px;
}
.banner-content h1{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 65px;
    font-weight: 900;
    line-height: 80px;
    background-attachment: fixed;
}
/* new year section */
#new-year{
    margin: 50px;
}
.discount-header h1{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 40px;
}
.discount-header h5{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.discount-header h3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 16px 0 40px;
}
.new-year-img{
    margin: auto;
    padding: 10px;
    height: 500px;
    width: 65%;
    background-size: contain;
    background-repeat: no-repeat;
}
/* banner two design */
#banner-two{
    margin-top: 100px;
}
.background-two{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('Vectorrr.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-two-element{
    margin: 0 120px;
    display: flex;
}
.banner-two-content h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 125px;
}
.banner-two-content p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
}
.banner-two-content button{
    color: #FFF;
    cursor: pointer;
    background-color: #070211;
    text-align: center;
    border: none;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin: 45px 35px;
}
.banner-two-element .b-2-img{
    padding: 65px 0;
}
/* Event Details */
#event-details{
    margin-top: 50px;
}
.event-container{
    height: 450px;
    width: 100%;
    margin: auto;
    padding-top: 100px;
    border-radius: 16px;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
}
.event-container h3{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    text-transform: capitalize;
}
.event-container span{
    color: #F00;
}
.event-container > button{
    color: #FFF;
    background-color: #F00;
    border-radius: 8px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Portfolio design */
#portfolio{
   margin-bottom: 50px; 
}
.portfolio-content h6{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
.portfolio-content h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-top: 10px;
}
.portfolio-content p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    width: 60%;
    padding: 15px 0 40px;
}
.portfolio-img{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}
.portfolio-img .img-decoration{
    width: 30%;
    height: 400px;
    margin: 0 20px 20px 0;
    border-radius: 16px;
}
.portfolio-img .img-decoration img{
    width: 100%;
}

/* Newsletter */
#newsletter{
    margin-bottom: 50px;
}
.background-three{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.newsletter-content{
    text-align: center;
    padding-top: 60px;
}
.newsletter-content h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 40px;
}
.newsletter-content p{
    color: rgba(7, 2, 17, 0.60);
    padding: 0 150px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    margin-top: 20px;
}
form{
    text-align: center;
}
form input{
    width: 600px;
    height: 60px;
    border: none;
    margin: 50px 0 80px;
    padding-left: 30px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
}
form button{
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
}

/* Footer Section */

.footer-section{
    height: 600px;
    width: 100%+260px;
    background-color: #070211;
}

.contact{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 100px 180px 20px 130px;
}
.contact .social-media p img{
    height: 18px;
    width: 18px;
    text-align: center;
    padding-right: 5px;
}

hr{
    background: rgba(255, 255, 255, 0.15);
    height: 0.5px;
    margin: 30px 130px;
    }

.footer-section .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-section .icons .design{
    height: 64px;
    width: 64px;
    margin-left: 20px;
}