*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 140px;
}
.container{
    height: 600px;
    width: 100%;
    margin: auto;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
/* Banner section */
#banner-section{
    margin-top: 50px;
}