*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 130px;
}
.container{
    height: 600px;
    width: 100%;
    margin: auto;
    border-radius: 16px;
}
/* Banner section */
#banner-section{
    margin-top: 50px;
}
.background{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url("/images/BannerImage.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-content{
    padding: 200px 300px 180px;
    /* margin: auto; */
}
.banner-content h4{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 5px;
}
.banner-content h1{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 65px;
    font-weight: 900;
    line-height: 80px;
    background-attachment: fixed;
}
/* new year section */
#new-year{
    margin: 50px;
}
.discount-header h1{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 40px;
}
.discount-header h5{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.discount-header h3{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin: 16px 0 40px;
}
.new-year-img{
    margin: auto;
    padding: 10px;
    /* background-color: #F00; */
    height: 500px;
    width: 65%;
    background-size: contain;
    background-repeat: no-repeat;
}
/* banner two design */
#banner-two{
    margin-top: 100px;
}
.background-two{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('/images/Vectorrr.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-two-element{
    margin: 0 120px;
    display: flex;
}
.banner-two-content h1{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 125px;
}
.banner-two-content p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
}
.banner-two-content button{
    color: #FFF;
    cursor: pointer;
    background-color: #070211;
    text-align: center;
    border: none;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    margin: 45px 35px;
}
.banner-two-element .b-2-img{
    padding: 65px 0;
}
/* Event Details */
#event-details{
    margin: 50px 0;
}
.event-container{
    height: 450px;
    width: 100%;
    margin: auto;
    padding-top: 100px;
    border-radius: 16px;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);;
}
.event-container h3{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    text-transform: capitalize;
}
.event-container span{
    color: #F00;
}
.event-container > button{
    color: #FFF;
    background-color: #F00;
    border-radius: 8px;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}