*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 130px;
}
.container{
    height: 600px;
    width: 100%;
    margin: auto;
    border-radius: 16px;
}
/* Banner section */
#banner-section{
    margin-top: 50px;
}
.background{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url("/images/BannerImage.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.banner-content{
    padding: 200px 300px 180px;
    /* margin: auto; */
}
.banner-content h4{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 5px;
}
.banner-content h1{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 65px;
    font-weight: 900;
    line-height: 80px;
    background-attachment: fixed;
}
/* new year section */
#new-year{
    margin-top: 50px;
}
.discount-header h1{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 40px;
}
.discount-header h5{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.discount-header h3{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-top: 16px;
}